<h1>About theSubsBench</h1>
<h2>Launched September 2014</h2>
<p>theSubsBench is a football portal aimed at specifically the UK market. The first phase will see the introduction of television listings for the UK and Ireland.</p>
<p>Further updates to the website will be launched gradually over the coming days, weeks and months until our vision is complete.</p>
<p>For further information on the latest developments please check out the <%= link_to "Whats New section", "#" %>.</p>

