<div class="container">
	<div class="row">
		<div class="col-md-6 title-header" >
			<h1><i class="fa fa-futbol-o"></i> UK TV Channel Numbers</h1>
		</div>
		<div class="col-md-2">	
			<ul class="nav nav-pills nav-justified ">
  			<li class="active"><a href="#SD" data-toggle="tab"><h3>SD</h3></a></li>
  			<li><h3>/</h3></li>
  			<li><a href="#HD" data-toggle="tab"><h3>HD</h3></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br>
			<p><strong>Please Note:</strong> Whist we try to keep channel numbers accurate, they may be changed by the television providers without prior notice. Please notify us imediately if you spot any errors.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tab-content">
  			<div class="tab-pane fade in active" id="SD">
  				<div class="tv-table">
    				<table class="table table-striped">
				      <thead>
				        <tr>
				          <th>Channel Name</th>
				          <th>BT</th>
				          <th>Freeview</th>
				          <th>Freesat</th>
				          <th>Sky</th>
				          <th>Virgin</th>
				          <th>YouView</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
				          <td>BBC1</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td>101</td>
				          <td>101</td>
				          <td></td>
				        </tr>
				       <tr>
				          <td>BBC2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>BBC3</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>BBC Alba</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>British Eurosport 1</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>British Eurosport 2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>BT Sport 1</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>BT Sport 2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Chelsea TV</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>ESPN</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>ITV1</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>ITV2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>ITV4</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>LFC TV</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>MUTV</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Premier Sports</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>S4C</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 1</td>
									<td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 3</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 4</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 5</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				      </tbody>
				    </table>
					</div>
				</div>
				<div class="tab-pane fade" id="HD">
  				TEST2
  				<div class="tv-table">
    				<table class="table table-striped">
				      <thead>
				        <tr>
				          <th>Channel Name</th>
				          <th>BT</th>
				          <th>Freeview</th>
				          <th>Freesat</th>
				          <th>Sky</th>
				          <th>Virgin</th>
				          <th>YouView</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
				          <td>BBC1</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td>101</td>
				          <td>101</td>
				          <td></td>
				        </tr>
				       <tr>
				          <td>BBC2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>BBC3</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>British Eurosport 1</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>British Eurosport 2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>BT Sport 1</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>BT Sport 2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>ESPN</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>ITV1</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>ITV2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>ITV4</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>MUTV</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 1</td>
									<td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 2</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 3</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 4</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				        <tr>
				          <td>Sky Sports 5</td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				          <td></td>
				        </tr>
				      </tbody>
				    </table>
					</div>
  			</div>
			</div>
		</div>
	</div>
</div>

